.no-hover-effect-btn {
    background: white !important;
    box-shadow: none;
    color: black;
  }
.no-hover-effect-btn:hover {
    background: white !important;
    border: none !important;
    box-shadow: none !important; 
}