body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(107.44deg, #E2E0FF 1.96%, #EBEAFA 16.15%, #F4F4F5 30.33%, #F5F5F5 71.54%, #E4E2FE 100%);
    background-size: cover;
    background-position: center;
  }

/* Đổi màu nền khi checkbox được chọn */
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: rgba(96, 85, 242, 1) !important;
    border-color: rgba(96, 85, 242, 1) !important;
  }
  
  /* Đổi màu viền của checkbox khi chưa được chọn */
 .ant-checkbox-inner {
    border-color: rgba(96, 85, 242, 1) !important;
  }

 .login-page-section {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(107.44deg, #E2E0FF 1.96%, #EBEAFA 16.15%, #F4F4F5 30.33%, #F5F5F5 71.54%, #E4E2FE 100%);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.login-form {
    max-width: 524;
    background: white;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);


}

.form-image {
    display: flex;
    justify-content: center;
    padding-bottom: 7px ;
    

}

img {
  width: 254px;
}

.sign-in-title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding-bottom: 10px ;
}

.form-input {
    border-radius: 2px;
    height: 40px;
    width: 400px;  
}

.form-bottom {
    display: flex;
    justify-content: space-between;

}

.forgot-link {
    text-decoration: none;
    color:rgba(96, 85, 242, 1);
}

.btn-sign-in {

  border-radius: 2px;
    background-color: rgba(96, 85, 242, 1);
}

/* ------------------------------- */
