body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(107.44deg, #E2E0FF 1.96%, #EBEAFA 16.15%, #F4F4F5 30.33%, #F5F5F5 71.54%, #E4E2FE 100%);
    background-size: cover;
    background-position: center;
  }


.auth-form-3 {
  background: white;
  padding: 50px 50px 50px 50px; 
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  border-radius: 25px;

}

.form-image {
    display: flex;
    justify-content: center;
    padding-top: 20px;  
}



img {
  width: 254px;
}

.ant-otp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-input {
    width: 472px;  
}


.btn-otp {
  background-color: rgba(96, 85, 242, 1);
  height: 41px;
  width: 427px;
}

/* ------------------------------- */
.resend-otp {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(99, 99, 100, 1);

}